{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Бокс просмотренные товары -->
<div id="boxLastViewed">
<h5>{#heading_last_viewed#}</h5>

<div id="boxLastViewedContent">
{if $box_content.PRODUCTS_IMAGE!=''}
<p>
<a href="{$box_content.PRODUCTS_LINK}"><img src="{$box_content.PRODUCTS_IMAGE}" alt="{$box_content.PRODUCTS_NAME}" /></a>
</p>
{/if}

<p>
<a href="{$box_content.PRODUCTS_LINK}">{$box_content.PRODUCTS_NAME}</a>
</p>

<p>
{$box_content.PRODUCTS_PRICE}
</p>

{if $box_content.PRODUCTS_VPE}<p>{$box_content.PRODUCTS_VPE}</p>{/if}

{if $box_content.PRODUCTS_SHIPPING_LINK}
<p>
{$box_content.PRODUCTS_TAX_INFO}{$box_content.PRODUCTS_SHIPPING_LINK}
</p>
{/if}

<p>
<a href="{$MY_PERSONAL_PAGE}">{#text_my_page#}</a>
</p>

<p>
{#text_watch_category#} 
<a href="{$CATEGORY_LINK}">{$CATEGORY_NAME}</a>
</p>

</div>
</div>
<!-- /Бокс просмотренные товары -->