{config_load file="$language/lang_$language.conf" section="faq"}
<!-- Бокс вопросы и ответы -->
<div id="boxFaq">
<h5><a href="{$FAQ_LINK}">{#heading_text#}</a></h5>

{foreach name=aussen item=module_data from=$module_content}
<div class="boxFaqContent">
{$module_data.FAQ_DATA}
<p><a href="{$module_data.FAQ_LINK_MORE}">{$module_data.FAQ_QUESTION}</a></p>
<p>{$module_data.FAQ_ANSWER|vam_truncate:$smarty.const.MAX_DISPLAY_FAQ_ANSWER:" ..."}</p>
</div>
 {/foreach}  

</div>
<!-- /Бокс вопросы и ответы -->