{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Бокс скидки -->
<div id="boxSpecials">
<h5><a href="{$SPECIALS_LINK}">{#heading_specials#}</a></h5>

<div id="boxSpecialsContent">
{if $box_content.PRODUCTS_IMAGE}
<p>
<a href="{$box_content.PRODUCTS_LINK}"><img src="{$box_content.PRODUCTS_IMAGE}" alt="{$box_content.PRODUCTS_NAME}" title="{$box_content.PRODUCTS_NAME}" /></a>
</p>
{/if}

<p>
<a href="{$box_content.PRODUCTS_LINK}">{$box_content.PRODUCTS_NAME}</a>
</p>

<p>
{$box_content.PRODUCTS_PRICE}
</p>

{if $box_content.PRODUCTS_VPE}<p>{$box_content.PRODUCTS_VPE}</p>{/if}

{if $box_content.PRODUCTS_SHIPPING_LINK}
<p>
{$box_content.PRODUCTS_TAX_INFO}{$box_content.PRODUCTS_SHIPPING_LINK}
</p>
{/if}

</div>
</div>
<!-- /Бокс скидки -->