{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Бокс новости -->
<div id="boxNews">
<h5><a href="{$NEWS_LINK}">{#heading_news#}</a></h5>

<div class="boxNewsContent">
{foreach name=aussen item=module_data from=$module_content}
<p>{$module_data.NEWS_DATA}</p>
<p><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></p>
<p>{$module_data.NEWS_CONTENT|vam_truncate:$smarty.const.MAX_DISPLAY_LATEST_NEWS_CONTENT:" ..."}</p>
 {/foreach}  
</div>

</div>
<!-- /Бокс новости -->