{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Бокс вход -->
<div id="boxLogin">
<b class="top"><b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b><b class="b5"></b></b>
<div class="boxheader">
<p>&nbsp;&raquo;&nbsp;{#heading_login#}</p>
</div>
<div class="boxcontent">

{$FORM_ACTION}
<p>
{#text_email#}:
</p>
<p class="loginform">
{$FIELD_EMAIL}
</p>
<p>
{#text_pwd#}:
</p>
<p class="loginform">
{$FIELD_PWD}
</p>
<p class="LoginContentCenter">
{$BUTTON}
</p>
{$FORM_END}
<p class="LoginContentCenter">
<a href="{$LINK_NEW_ACCOUNT}">{#text_register#}</a> | <a href="{$LINK_LOST_PASSWORD}">{#text_password_forgotten#}</a>
</p>

</div>
<b class="bottom"><b class="b5b"></b><b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b></b>
</div>
<!-- /Бокс вход -->