{config_load file="$language/lang_$language.conf" section="boxes"}
{if $filterParams}
<!-- Бокс фильтры -->
<div id="boxFilters">
<h5>{#heading_filters#}</h5>

<div id="boxFiltersContent">

{literal}
<script type="text/javascript">
<!--
function open_hide_values(obj, a)
{
    obj = document.getElementById(obj);
    if (obj.style.display == '')
    {
        obj.style.display = 'none';
        a.innerHTML = '{/literal}{#text_filters_show#}{literal}'
    }
    else
    {
        obj.style.display = '';
        a.innerHTML = '{/literal}{#text_filters_hide#}{literal}'
    }
}
//-->
</script>
{/literal}

{if $is_params_selected}
	{foreach name=aussen1 item=selectedParam from=$selectedParamsFilters}
<div class="close">
		{$selectedParam.name}
		{foreach name=aussen2 item=selectedItem from=$selectedParam.list}
		<div class="content"><span class="name">{$selectedItem.parameters_value}</span><span class="close"><a href='{$selectedItem.url}'>X</a></span></div>
		{/foreach}
<div class="clear"></div>
</div>
	{/foreach}
{/if}

{foreach name=aussen3 item=filterParam from=$filterParams}
	<strong>{$filterParam.products_parameters_title}</strong> <br />
	{foreach name=aussen4 item=blockValue from=$filterParam.blockValues}
		 {if $blockValue.opened}
		<div id="hidden_values_{$filterParam.products_parameters_id}" style="display: none; text-align: left;">
		 {/if}
		 <a href='{$blockValue.url}'>{$blockValue.parameters_value} ({$blockValue.znak}{$blockValue.count})</a><br />
	{/foreach}
	{if $filterParam.opened}
		</div>
        <a href="javascript:void(0);" onclick="open_hide_values('hidden_values_{$filterParam.products_parameters_id}', this);">{#text_filters_show#}</a><br />
	{/if}
{/foreach}

{if $is_params_selected}
<br />

  <form action="{$priceForm}" method="get">
  <input type="hidden" name="cat" value="{$categories_id}" />
  <input type="hidden" name="q" value="{$all_query}" />
  {#text_filters_price#}:
  {#text_filters_price_from#}: <input type="text" size="3" name="price_min" value="{$price_min}" /> {#text_filters_price_to#}: <input type="text" size="3" name="price_max" value="{$price_max}" /> {$BUTTON_FILTER}
  </form>
{/if}

</div>

</div>
<!-- /Бокс фильтры -->
{/if}