{config_load file="$language/lang_$language.conf" section="account_edit"} 
<!-- Заголовок страницы -->
<h1>{#heading_account#}</h1>
<!-- /Заголовок страницы -->
{if $error!=''}
{$error}
{/if}
{$FORM_ACTION}
<!-- Скругленные углы -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<!-- Содержимое страницы -->
<div class="pagecontent">
<span class="Requirement">{#text_must#}</span>
<br />
<br />
<!-- форма -->
<fieldset class="form">
<legend>{#title_personal#}</legend>
{if $csID}
<p>{#csID#} {$csID}</p>
{/if}
{if $gender=='1'} 
<p><label for="gender">{#text_gender#}</label> {$INPUT_MALE}&nbsp;{$INPUT_FEMALE}</p>
{/if}
<p><label for="firstname">{#text_firstname#}</label> {$INPUT_FIRSTNAME}</p>
{if $secondname=='1'}<p>{#text_secondname#} {$INPUT_SECONDNAME}</p>
{/if}
<p><label for="lastname">{#text_lastname#}</label> {$INPUT_LASTNAME}</p>
{if $birthdate=='1'} 
<p><label for="dob">{#text_birthdate#}</label> {$INPUT_DOB}</p>
{/if}
<p><label for="email">{#text_email#}</label> {$INPUT_EMAIL}</p>
{if $telephone=='1'} 
<p><label for="telephone">{#text_tel#}</label> {$INPUT_TEL}</p>
{/if}
{if $fax=='1'} 
<p>{#text_fax#} {$INPUT_FAX}</p>
{/if}
{if $vat=='1'}
<p>{#text_ustid#} {$INPUT_VAT}</p>
{/if}
</fieldset>
{if $INPUT_CUSTOMERS_EXTRA_FIELDS}
<fieldset class="form">
<legend>{#title_options#}</legend>
{foreach item=customers_extra_filelds from=$INPUT_CUSTOMERS_EXTRA_FIELDS}<p><label>{$customers_extra_filelds.NAME}:</label> {$customers_extra_filelds.VALUE}</p>
{/foreach}
</fieldset>
{/if}
<!-- /форма -->
</div>
<!-- /Содержимое страницы -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<!-- /Скругленные углы -->
</div>

<div class="pagecontentfooter">
{$BUTTON_BACK}&nbsp;{$BUTTON_SUBMIT}
</div>
{$FORM_END}