{config_load file="$language/lang_$language.conf" section="advanced_search"}
<h1>{#heading_search#}</h1>
{if $error!=''}
{$error}
{/if}
{$FORM_ACTION}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<a href="{$HELP_LINK}">{#text_help#}</a>
<br />
<br />
<!-- форма -->
<fieldset class="form">
<legend>{#heading_search#}</legend>
<p>{#title_keywords#} {$INPUT_KEYWORDS}</p>
<p>{#text_categories#} {$SELECT_CATEGORIES}</p>
<p>{$ENTRY_SUBCAT} {#text_subkategories#}</p>
<p>{#text_manufacturer#} {$SELECT_MANUFACTURERS}</p>
<p>{#text_min#} {$SELECT_PFROM}</p>
<p>{#text_max#} {$SELECT_PTO}</p>
</fieldset>
<!-- /форма -->
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTTON_SUBMIT}
</div>
{$FORM_END}