{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_password_forgotten"}
<h1>{#heading_title#}</h1>

{$FORM_ACTION} 
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

{if $email_nonexistent == 'true'}
<p>{#text_no_email_address_found#}</p>
{/if}

<fieldset class="form">
<legend>{#heading_title#}</legend>
<p><span class="bold">{#entry_email_address#}</span> {$INPUT_EMAIL}</p>
</fieldset>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="clear"></div>
<div class="navigation">
<span class="right">{$BUTTON_SUBMIT}</span>
{$LINK_AFFILIATE}
</div>
<div class="clear"></div>

</form>