{config_load file="$language/lang_$language.conf" section="articles"} 
<h1>{$HEADER_TEXT}</h1>

{if $TOPICS_HEADING_TITLE}
<p>
{$TOPICS_HEADING_TITLE}
</p>
{/if}

{if $TOPICS_DESCRIPTION}
<p>
{$TOPICS_DESCRIPTION}
</p>
{/if}

<form action="articles.php" method="get">
<input type="hidden" name="description" value="1" />
<fieldset>
<legend>{#text_search#}</legend>
<input type="text" name="akeywords" /><input type="image" src="{$tpl_path}img/box.gif" alt="{#text_search#}" title="{#text_search#}" />
</fieldset>
</form>

{if $no_articles=='true'}
<p>
{#text_no_articles#}
</p>
{else}

{foreach name=aussen item=module_data from=$module_content} 
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">

<p>
<a href="{$module_data.ARTICLE_LINK}">{$module_data.ARTICLE_NAME}</a>
</p>

{if $module_data.AUTHOR_NAME}
<p>
{#text_author#} <a href="{$module_data.AUTHOR_LINK}">{$module_data.AUTHOR_NAME}</a>
</p>
{/if}
 
{if $module_data.ARTICLE_CATEGORY_NAME}
<p>
{#text_category#} <a href="{$module_data.ARTICLE_CATEGORY_LINK}">{$module_data.ARTICLE_CATEGORY_NAME}</a>
</p>
{/if}

{if $module_data.ARTICLE_SHORT_DESCRIPTION}
<p>
{$module_data.ARTICLE_SHORT_DESCRIPTION}
</p>
{/if}

{if $module_data.ARTICLE_DATE}
<p>
{#text_date#} {$module_data.ARTICLE_DATE}
</p>
{/if}

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
          {/foreach} 

<div class="clear"></div>
<div class="navigation">
<span class="right">{$NAVIGATION_BAR}</span>{$NAVIGATION_BAR_PAGES}
</div>
<div class="clear"></div>
{/if}