{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} 
<h1>{#heading_confirmation#}</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
{#text_information#}
</p>
<br />
{if $IP_LOG=='true'} 
<span class="bold">{#text_ip#}</span> {$CUSTOMERS_IP}
<br />
{/if}
<br />
{if $SHIPPING_ADDRESS=='true'} 
<!-- Адрес доставки -->
<dl class="ordersAddress">
<dt class="ordersAddress">
</dt>

<dd class="ordersAddress">
<span class="bold">{#text_shipping_address#} <a href="{$SHIPPING_ADDRESS_EDIT}">{#text_edit#}</a></span>
</dd>

<dd class="ordersAddress">
{$DELIVERY_LABEL}
</dd>

</dl>
<!-- /Адрес доставки -->
{/if}

{if $BILLING_LABEL}
<!-- Адрес клиента -->
<dl class="ordersAddress">
<dt class="ordersAddress">
</dt>

<dd class="ordersAddress">
<span class="bold">{#text_payment_address#}:</span> <a href="{$BILLING_ADDRESS_EDIT}">{#text_edit#}</a>
</dd>

<dd class="ordersAddress">
{$BILLING_LABEL}
</dd>

</dl>
<!-- /Адрес клиента -->
{/if}
<div class="clear"></div>
<br />
{if $SHIPPING_METHOD}
<span class="bold">{#text_shipping_method#}</span>&nbsp;{$SHIPPING_METHOD}&nbsp;<a href="{$SHIPPING_EDIT}">{#text_edit#}</a>
<br />
{/if}

{if $PAYMENT_METHOD!=''}
<span class="bold">{#text_payment_method#}</span>&nbsp;{$PAYMENT_METHOD}&nbsp;<a href="{$PAYMENT_EDIT}">{#text_edit#}</a>
<br />
{/if}

{if $ORDER_COMMENTS!=''}
<span class="bold">{#text_comments#}</span>&nbsp;<a href="{$PAYMENT_EDIT}">{#text_edit#}</a>
<br />
{$ORDER_COMMENTS}
<br />
{/if}

{if $PAYMENT_INFORMATION!=''}
<span class="bold">{#text_payment_info#}</span>
<br />
{$PAYMENT_INFORMATION}
<br />
{/if}

<span class="bold">{#text_products#}</span>&nbsp;<a href="{$PRODUCTS_EDIT}">{#text_edit#}</a>
<br />
<br />

<!-- товары -->
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{$PRODUCTS_BLOCK}</td>
        </tr>
        <tr>
          <td align="right">{$TOTAL_BLOCK}</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right">{$CHECKOUT_FORM} {if $MODULE_BUTTONS!=''} {$MODULE_BUTTONS}<br />{/if} {$CHECKOUT_BUTTON}<br /><br />
	<table width="100%"  border="0" cellpadding="4">
        <tr>
          <td>{if $REVOCATION}
		  <b>{$REVOCATION_TITLE}</b><br />
		  
		  {$REVOCATION}<br />
		  <table width="100%" border="0" cellspacing="0" cellpadding="3">
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$REVOCATION_TITLE}&nbsp;{$REVOCATION_LINK}</td>
            </tr>
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$AGB_TITLE}&nbsp;{$AGB_LINK}</td>
            </tr>
          </table>
		  {/if}</td>
        </tr>
      </table></td>
  </tr>
</table>
<!-- /товары -->

</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>