{config_load file="$language/lang_$language.conf" section="checkout_payment"}<h1>{#heading_payment#}</h1>
{$FORM_ACTION}{if $error!=''}
{$error}
{/if}<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

{if $BILLING_ADDRESS=='true'} 
<span class="bold">{#title_address#}</span>
{/if}

{if $BILLING_ADDRESS=='true'} 
<!-- Адрес -->
<dl class="AddressBook">
<dt class="AddressBook">
</dt>

<dd class="AddressBook">
{#text_address#}
</dd>

<dd class="AddressBook">
{$BUTTON_ADDRESS}
</dd>

</dl>
<!-- /Адрес -->

<!-- Адрес по умолчанию -->
<dl class="AddressBook">
<dt class="AddressBook">
<span class="bold">{#title_address#}</span>
<br />
<img src="{$tpl_path}img/arrow_south_east.gif" alt="" />
</dt>

<dd class="AddressBook">
{$ADDRESS_LABEL}
</dd>

</dl>
<!-- /Адрес по умолчанию -->
<div class="clear"></div>
{/if}

<span class="bold">{#title_payment#}</span>
<br />
<br />
{if $GV_COVER!='true'}
<fieldset class="form">
<legend>{#text_payment#}</legend>
{$PAYMENT_BLOCK}
</fieldset>
{$module_gift}
{else}
{#text_gccover#}
{/if}

<fieldset class="form">
<legend>{#title_comments#}</legend>
<p>
{$COMMENTS}
</p>
</fieldset>

{if $conditions=='true'}
<fieldset class="form">
<legend>{#title_agb#}&nbsp;{$AGB_LINK}</legend>
<p>
{$AGB}
</p><p>
{$AGB_checkbox} <span class="bold">{#text_accept_agb#}</span>
</p>
</fieldset>
{/if}

<p>
<span class="bold">{#title_continue#}</span>
</p>

<p>
{#text_continue#}
</p>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
{$FORM_END}