{config_load file="$language/lang_$language.conf" section="checkout_success"}
<h1>{#heading_success#}</h1>
{$FORM_ACTION}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<p>
{#text_success#}
</p>

<p>
{#title_printorder#}
</p>

<p>
{#text_printorder#}
</p>

<p>
{$BUTTON_PRINT}
</p>

<p>
{$BUTTON_SCHET_PRINT}
</p>

<p>
{$BUTTON_PACKINGSLIP_PRINT}
</p>

<p>
{$BUTTON_KVITANCIA_PRINT}
</p>

<p>
{#text_thankyou#}
</p>

{if $GV_SEND_LINK}
<p>
{#gv_has_vouchera#} {$GV_SEND_LINK} {#gv_has_voucherb#}
</p>
{/if}

<!-- Google Conversion-tracking start !-->
{if $google_tracking eq 'true'}
{$tracking_code}
{/if}
<!-- Google Conversion-tracking end !-->

</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>

{if $downloads_content neq ''}
  {$downloads_content}
{/if}
{$FORM_END}