 {if $FREE_SHIPPING} <p>
<span class="bold">{$FREE_SHIPPING_TITLE}</span>&nbsp;{$FREE_SHIPPING_ICON}</span>
</p>
<p>
{$FREE_SHIPPING_DESCRIPTION}
</p>
{else}   {foreach name=aussen item=module_data from=$module_content}
<div class="{cycle values="itemOdd,itemEven"}">   <p>
{$module_data.icon} <span class="bold">{$module_data.module}</span>
</p>{if $module_data.error != ''}<p>
{$module_data.error}
</p>{else} {foreach name=aussen item=method_data from=$module_data.methods} <p>
<label for="{$method_data.id}">{$method_data.radio_field}&nbsp;{$method_data.title}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$method_data.price}</label>
</p> {/foreach}{/if}</div>
{/foreach}
{/if}