{config_load file="$language/lang_$language.conf" section="cross_selling"} <h1>{#heading_text#}</h1>
{foreach name=aussen item=module_data from=$module_content}<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">
<p>{$module_data.GROUP}</p>{foreach item=products_data from=$module_data.PRODUCTS}<dl class="itemNewProductsDefault">
<dt class="itemImage">
{if $products_data.PRODUCTS_IMAGE}<a href="{$products_data.PRODUCTS_LINK}"><img src="{$products_data.PRODUCTS_IMAGE}" border="0" alt="{$products_data.PRODUCTS_NAME}" /></a><br />{/if}
</dt>
<dd class="itemDescription">
<a href="{$products_data.PRODUCTS_LINK}">{$products_data.PRODUCTS_NAME}</a>
</dd>

<dd class="itemDescription">
{$products_data.PRODUCTS_SHORT_DESCRIPTION|vam_truncate:256:"...":true}
</dd>

<dd class="itemDescriptionPrice">
{$products_data.PRODUCTS_PRICE}
</dd>

{if $products_data.PRODUCTS_VPE}
<dd class="itemDescription">
{$products_data.PRODUCTS_VPE}
</dd>
{/if}

<dd class="itemDescription">
{$products_data.PRODUCTS_TAX_INFO}{$products_data.PRODUCTS_SHIPPING_LINK}
</dd>

{if $products_data.PRODUCTS_SHIPPING_NAME}
<dd class="itemDescription">
{#text_shippingtime#}&nbsp;
{if $products_data.PRODUCTS_SHIPPING_IMAGE}
<img src="{$products_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$products_data.PRODUCTS_SHIPPING_NAME}" />
{/if}
{$products_data.PRODUCTS_SHIPPING_NAME}
</dd>
{/if}

</dl>
{/foreach} 

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
{/foreach}