{if $dl neq ''}
{config_load file="$language/lang_$language.conf" section="downloads_module"}
<h1>{#heading_download#}</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

{if $dl_prevented eq 'true'}
<p>
<span class="bold">{#download_not_allowed#}</span>
</p>
{/if}

{foreach name=aussen item=dl_data from=$dl}
<p>
{if $dl_data.pic_link}<a href="{$dl_data.pic_link}"><img src="{$tpl_path}img/img_download.jpg" alt="" border="0" /></a>{else}<img src="{$tpl_path}img/img_download_locked.jpg" alt="" />{/if}
&nbsp;&nbsp;&nbsp;{$dl_data.download_link}
&nbsp;&nbsp;&nbsp;{#table_heading_download_date#}&nbsp;{$dl_data.date}
&nbsp;&nbsp;&nbsp;<span class="bold">{$dl_data.count}</span>&nbsp;{#table_heading_download_count#}
</p>
{/foreach}

</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
{/if}