{config_load file="$language/lang_$language.conf" section="faq"} 
<h1>{#heading_text#}</h1>
{if $ONE eq 1}
  {assign var="module_data" value=$module_content[0]}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">
<dl class="itemFaq">
<dt class="itemFaq">
</dt>

<dd class="itemFaq">
<span class="date">{$module_data.FAQ_DATA}</span>
</dd>

<dd class="itemFaq">
<strong><a href="{$module_data.FAQ_LINK_MORE}">{$module_data.FAQ_QUESTION}</a></strong>
</dd>

<dd class="itemNews">
{$module_data.FAQ_ANSWER}
</dd>

</dl>

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
<a href="{$FAQ_LINK}" class="contents">{#other_faq#}</a>
</div>
<p></p>
{else}
<form action="faq.php" method="get">
<input type="hidden" name="description" value="1" />
<fieldset>
<legend>{#text_search#}</legend>
<input type="text" name="akeywords" /><input type="image" src="{$tpl_path}img/box.gif" alt="{#text_search#}" title="{#text_search#}" />
</fieldset>
</form>
  {foreach name=aussen item=module_data from=$module_content}<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">
<dl class="itemFaq">
<dt class="itemFaq">
</dt>

<dd class="itemFaq">
<span class="date">{$module_data.FAQ_DATA}</span>
</dd>

<dd class="itemFaq">
<strong><a href="{$module_data.FAQ_LINK_MORE}">{$module_data.FAQ_QUESTION}</a></strong>
</dd>

<dd class="itemFaq">
{$module_data.FAQ_ANSWER|vam_truncate:$smarty.const.MAX_DISPLAY_FAQ_ANSWER:" ..."}
</dd>

</dl>

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
          {/foreach} 

<div class="clear"></div>
<div class="navigation">
{$NAVIGATION_BAR}
</div>
<div class="clear"></div>
<p></p>
{/if}