{config_load file="$language/lang_$language.conf" section="latest_news"} 
<h1>{#heading_text#}</h1>
{if $ONE eq 1}
  {assign var="module_data" value=$module_content[0]}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">
<dl class="itemLatestNews">
<dt class="itemNews">
</dt>

<dd class="itemNews">
<span class="date">{$module_data.NEWS_DATA}</span>
</dd>

<dd class="itemNews">
<strong><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></strong>
</dd>

<dd class="itemNews">
{$module_data.NEWS_CONTENT}
</dd>

</dl>

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
<a href="{$NEWS_LINK}" class="contents">{#other_news#}</a>
</div>
<p></p>
{else}
  {foreach name=aussen item=module_data from=$module_content}<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">
<dl class="itemLatestNews">
<dt class="itemNews">
</dt>

<dd class="itemNews">
<span class="date">{$module_data.NEWS_DATA}</span>
</dd>

<dd class="itemNews">
<strong><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></strong>
</dd>

<dd class="itemNews">
{$module_data.NEWS_CONTENT|vam_truncate:$smarty.const.MAX_DISPLAY_LATEST_NEWS_CONTENT:" ..."}
</dd>

</dl>

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
          {/foreach} 

<div class="clear"></div>
<div class="navigation">
<span class="right">{$NAVIGATION_BAR}</span>{$NAVIGATION_BAR_PAGES}
</div>
<div class="clear"></div>
{/if}