{config_load file="$language/lang_$language.conf" section="new_password"}
<h1>{#heading_password#}</h1>

{if $info_message!=''} <div class="contacterror">{$info_message}</div>{/if}

{$FORM_ACTION} 
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<span class="bold">{#text_step1#}</span>
<br />
{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}
<br />
{#text_continue#}
<br />
<br />
<fieldset class="form">
<legend>{$message}</legend>
<p><span class="bold">{#text_sec_code#}</span> {$CAPTCHA_IMG}</p>
<p><span class="bold">{#text_sec_code#}</span> {$CAPTCHA_INPUT}</p>
<p><span class="bold">{#text_email#}</span> {$INPUT_EMAIL}</p>
</fieldset>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTTON_SEND}
</div>
{$FORM_END}