{config_load file="$language/lang_$language.conf" section="product_compare"}
<h1>Сравнение товаров</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>&nbsp;</td>
        {foreach name=aussen item=module_data from=$module_content}
        <td><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a> {$module_data.PRODUCTS_PRICE}
       <br />
       {$module_data.PRODUCTS_BUTTON_BUY_NOW}        
        </td>{/foreach}
    </tr>

    {foreach name=aussen item=parameters_data from=$parameters}
    <tr>
        {if $parameters_data.parameters_name != 1}<td {if $parameters_data.is_group}colspan="3" style="font-weight: bold; text-align: center;"{/if}>{$parameters_data.parameters_name}</td>{/if}
        {if $parameters_data.parameters_values}
        {foreach name=aussen item=values from=$parameters_data.parameters_values}
        <td>{$values.value}</td>{/foreach}
        {/if}
    </tr>{/foreach}
</table>

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>