{config_load file="$language/lang_$language.conf" section="reviews"}<br />
<div id="divReviews">
<h1>{#heading_reviews#}</h1>
{foreach name=aussen item=module_data from=$module_content} 
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<p>
<span class="bold">{#text_author#}</span> {$module_data.AUTHOR} {$module_data.DATE}
</p>

<p>
<span class="bold">{#text_rating#}</span> {$module_data.RATING}
</p>

<p>
{$module_data.TEXT}
</p>
      
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
{/foreach}

{if $TEXT_FIRST_REVIEW != ''}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
{$TEXT_FIRST_REVIEW}
</p>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
{/if}
<!--kpoxas-->
<div class="clear"></div>
{if $NAVIGATION_BAR}
<div class="navigation">
<span class="right">{$NAVIGATION_BAR}</span>{$NAVIGATION_BAR_PAGES}
</div>
<div class="clear"></div>
{/if}
<!--kpoxas-->
<div class="pagecontentfooter">
{$BUTTON_WRITE}
</div>
</div>
