{config_load file="$language/lang_$language.conf" section="reviews"}
<h1>{#heading_product_reviews#}</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<p>
<span class="bold">
<a href="{$PRODUCTS_LINK}">{$PRODUCTS_NAME}</a>
</span>
</p>

<p>
{$IMAGE}
</p>

<p>
<span class="bold">{#text_date#}</span> {$DATE}
</p>

<p>
<span class="bold">{#text_author#}</span> {$AUTHOR}
</p>

<p>
<span class="bold">{#text_text#}</span>
</p>

<p>
{$REVIEWS_TEXT}
</p>

<p>
<span class="bold">{#text_rating#}</span> {$RATING}
</p>

</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="clear"></div>
<div class="navigation">
<span class="right">{$BUTTON_BUY_NOW}</span>
{$BUTTON_BACK}
</div>
<div class="clear"></div>