{config_load file="$language/lang_$language.conf" section="index"}

<!-- Контейнер -->
<div id="container">

<!-- Шапка -->
<div id="header">
<img src="{$tpl_path}img/logo.png" alt="{$store_name}" />
</div>
<!-- /Шапка -->

<div id="menu">
<ul>
<li{$1}><a href="{$mainpage}"><span>{#text_mainpage#}</span></a></li>
{if $account}{if $smarty.session.customer_id}
<li{$2}><a href="{$account}"><span>{#link_account#}</span></a></li>
{/if}{/if}
<li{$3}><a href="{$cart}"><span>{#link_cart#}</span></a></li>
<li{$4}><a href="{$checkout}"><span>{#link_checkout#}</span></a></li>
{if $smarty.session.customer_id}
<li{$5}><a href="{$logoff}"><span>{#link_logoff#}</span></a></li>
{else}
<li{$6}><a href="{$login}"><span>{#link_login#}</span></a></li>
{/if}    
</ul>
</div>

<!-- Навигация -->
<div id="navigation">
<span>{$navtrail}</span>
</div>
<!-- /Навигация -->

<!-- Центр -->
<div id="wrapper">
<div id="content">

{$main_content}

</div>
</div>
<!-- /Центр -->

<!-- Левая колонка -->
<div id="left">
</div>
<!-- /Левая колонка -->

<!-- Правая колонка -->
<div id="right">
</div>
<!-- /Правая колонка -->

<!-- Низ -->
<div id="footer">
</div>
<!-- /Низ -->

</div>
<!-- /Контейнер -->